.footer
  .container-lg
    .col-wrap
      .col-wrap__col
        .footer__nav
          each item in footerMenu 
            .footer__nav-item
              .footer__item-title=item.title
              ul.footer__item-list
                each val in item.list
                  li
                    a(href=val.menuItemLink)=val.menuItem
              

      .col-wrap__col
        .footer__app
          .footer__app-img
            img(loading="lazy" src=`images/dist/${appImg}`, alt="" width="157" height="320")    
          .footer__app-links
            .footer__app-title
              .title.tac
                span.part-sh Скачать <br>
                span.part-mc Приложение
            .footer__app-qr.tac
              img(loading="lazy" src=`images/dist/${qrCode}`, alt=""  width="130" height="130")
            .footer__app-platforms 
              each item in platforms 
                .footer__app-platform
                  a(href=item.linkDownload).tac=item.linkTitle 
                  a(href=item.linkDownload) 
                    img(loading="lazy" src=`images/dist/${item.platformImage}`, alt="" width="109" height="38")
    .footer__bottom.fadeOut1
      .footer__bottom-col-wrap 
        .footer__lang 
          .footer__lang-active Русский 
            svg.icon.icon--stroke
              use(xlink:href='#angle')
          ul.footer__lang-dropdown
            each lang in langs 
              li 
                a(href=lang.link)=lang.lang 
        .social 
          ul 
            each social in socials 
              li 
                a(href=social.link)
                  svg
                    use(xlink:href=`#${social.img}`)
                    



      .footer__copyright!=copyright
 


  